@import 'base';

#app {
  margin: 0 auto;

  #top {
    position: absolute;
    top: 0;
    width: 100%;
  }

  #sub-contents {
    margin-top: 400px;
  }

  input[type=submit] {
    margin: 15px;
    padding: 8px 15px 8px 15px;
    font-size: 20px;
    color: $color-white;
    background: transparent;
    border: solid 1px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    &:hover {
      background: $color-plum;
    }
  }
}