@import 'base';

#app {
  margin: 0 auto;

  input[type=submit] {
    margin: 15px;
    padding: 5px 15px 8px 15px;
    font-size: 20px;
    color: $color-white;
    background: $color-light-gray;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    &:hover {
      background: $color-dark-gray;
    }
  }
}