
// fonts
$font-title: "grafolita-script", sans-serif;
$font-scratchy: "flood-std", sans-serif;
$font-fancy-outline: "azote", serif;
$font-bold-shadow: "sutro-deluxe-primary", sans-serif;
$font-bold-fill: "brim-narrow-combined-1", sans-serif;
$font-normal: "brioso-pro-display", serif;
$font-normal-stylized: "balzano-std", sans-serif;
$font-normal-friendly: "los-feliz", serif;
$font-normal-clean: "parisplus-clair", sans-serif;

// colors
$color-light-plum: #ffd7fe;
$color-white: #fff;
$color-dark-gray: #666;

// media sizing
$size: 1;