// Google fonts
$f-advent-pro: 'Advent Pro', sans-serif;
$f-alice: 'Alice', serif;
$f-arima-madurai: 'Arima Madurai', cursive;
$f-dosis: 'Dosis', sans-serif;
$f-josefin-sans: 'Josefin Sans', sans-serif;
$f-josefin-slab: 'Josefin Slab', serif;
$f-karla: 'Karla', sans-serif;
$f-marck-script: 'Marck Script', cursive;
$f-mogra: 'Mogra', cursive;
$f-montez: 'Montez', cursive;
$f-nixie-one: 'Nixie One', cursive;
$f-offside: 'Offside', cursive;
$f-open-sans-condensed: 'Open Sans Condensed', sans-serif;
$f-oxygen: 'Oxygen', sans-serif;
$f-pompiere: 'Pompiere', cursive;
$f-quicksand: 'Quicksand', sans-serif;
$f-raleway: 'Raleway', sans-serif;
$f-sacramento: 'Sacramento', cursive;
$f-stalemate: 'Stalemate', cursive;
$f-syncopate: 'Syncopate', sans-serif;
$f-poiret-one: 'Poiret One', cursive;
$f-satisfy: 'Satisfy', cursive;
$f-clicker-script: 'Clicker Script', cursive;
$f-amita: 'Amita', cursive;

// Assigning fonts to text groups
$f-title-names: $f-amita;
$f-title-date: $f-raleway;
$f-title-location: $f-raleway;
$f-menu-nav: $f-raleway;
$f-selected-title: $f-raleway;
$f-standard: $f-raleway;

// Colors
$color-light-plum: #ffd7fe;
$color-plum: #c37acc;
$color-plum-dark: #A363AB;
$color-green: #91A537;
$color-white: #fff;
$color-dark-gray: #666;
$color-light-gray: #888;
