
#header {
  text-align: center;
  margin: 0 0 20px 0;

  .names {
    color: #999;
    margin: 30px 0;
    font-size: 80px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
  }

  .join {
    color: #ccc;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .date {
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
}
