@import 'base';

#header {
  text-align: center;
  color: $color-white;
  overflow: auto;
  z-index: 5;
  padding-top: 50px;

  .header-center {
    margin: 80px auto 20px auto;
    display:  flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-bottom: 10px;

    .names {
      font-family: $f-title-names;
      font-size: 90px;
      text-shadow: 2px 2px 15px rgba(0, 0, 0, .3);

      span {
        font-size: 40px;
      }
    }

    .info {
      text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      font-size: 20px;
      font-family: $f-title-date;
      color: $color-white;
      margin-top: -30px;

      span {
        margin: 0 15px;
      }
    }
  }
}
