@import 'base';

#header {
  text-align: center;
  color: $color-white;

  .header-center {
    margin: 20px auto;
    display:  flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-width: 560px;
    padding-bottom: 10px;

    .names {
      font-family: $f-title-names;
      font-size: 100px;
      text-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
    }

    .info {
      text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      font-size: 35px;
      font-family: $f-title-date;
      color: $color-plum;
      margin-top: -20px;

      span {
        margin: 0 15px;
        color: $color-white;
      }
    }
  }
}
