@import 'base';

html {
  font-family: $f-standard;
  color: $color-white;

  background: url(../resources/sky.jpg) no-repeat left bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: -1;
}