#reservation-container {

}

#reservation-container .box {
  border: 3px double black;
  margin: 30px auto;
  width: 350px;
  height: 450px;
}

#reservation-container .title {
  font-size: 30px;
  text-align: center;
  border-bottom: solid 1px;
}