#rsvp-search {
  form.query {
    margin: 0 auto;
    text-align: center;

    .text-input {
      margin: 5px 0;
      width: 200px;

      &::-webkit-input-placeholder {
        text-align: center;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
      }
      :-ms-input-placeholder {
        text-align: center;
      }
    }
  }
}
