#rsvp-result {
  display:  flex;
  color: #FFF;

  .box {
    background-color: #DAACD5;
    flex-grow: 2;
  }

  .name {
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin: 20px 0 0 0;
  }


}
