@import 'base';

#rsvp-results-list {
  .saved-message {
    margin: 10px;
    font-size: 20px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    text-align: center;
  }

  form {
    display:  flex;
    flex-direction: column;
    color: $color-dark-gray;
    justify-content: center;
    align-items: center;

    .family-name {
      color: $color-white;
      text-align: center;
      font-size: 35px;
      margin: 25px 0 0 0;
    }

    .submit-rsvp {
      font-family: $f-standard;
    }
  }
}
