@import 'base';

.rsvp-result {
  color: $color-white;
  border: solid 1px;
  flex-basis: content;
  margin: 10px 0 0 0;
  //background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;

  .name {
    font-size: 22px;
    margin: 5px 10px;
  }
  
  .attending-not-attending {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  
  .radio {
    display: flex;
    flex-basis: content;
    margin: 0 10px 7px 10px;

    input {
      background: #000;
      width: 20px;
      height: 20px;
      margin: 5px 5px 0 0;

      &:checked {
      }
    }
  }

}
