#rsvp-search {

  .search-again {
    font-size: 24px;
    color: #666;
    text-align: center;
    cursor: pointer;
    text-shadow:
      -1px -1px 0 #ddd,
      1px -1px 0 #ddd,
      -1px 1px 0 #ddd,
      1px 1px 0 #ddd;

    &:hover {
      font-weight: bold;
    }
  }

  .search-message {
    font-size: 14px;
    flex-direction: column;
    text-align: center;
    color: #666;
  }

  form.query {
    margin: 0 auto;
    text-align: center;

    .text-input {
      margin: 5px 0;
      width: 200px;
      font-size: 24px;

      &::-webkit-input-placeholder {
        text-align: center;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
      }
      :-ms-input-placeholder {
        text-align: center;
      }
    }
  }
}
