#rsvp-container {
  display:  flex;
  color: #FFF;
  height: inherit;

  .rsvp-cat-pic {
    /* background image settings */
    background-image: url('../resources/download_20150822_110147.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 110%;
    background-position-y: 20%;
    background-position-x: 60%;

    width: 35%;
  }

  .box {
    background-color: #ffccff;
    width: 65%;
    max-width: 555px;
  }

  .title {
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin: 20px 0 0 0;
  }

  form.results {
    margin: 15px auto;
    text-align: center;

    .results-single {
      margin: 20px 0;
    }

    .rsvp-name {
      display: inline-flex;
      width: 60%;

      .name {
        flex-grow: 1;
        text-align: left;
      }

      .rsvp-q {
        flex-grow: 1;
        text-align: right;
      }
    }

    .plus1-title {
      display: inline-flex;
      width: 55%;
    }

    .plus1-input {
      display: inline-flex;
      width: 55%;
    }
  }
}
