@import 'base';

#side-menu {
  font-family: $f-menu-nav;
  font-size: 15px;
  color: $color-white;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .4);

  .side-menu-center {
    display:  flex;
    justify-content: flex-end;
    padding-top: 5px;
    border-bottom: solid 2px rgba(255, 255, 255, .3);

    div, a {
      cursor: pointer;
      margin: 8px 10px;
      color: $color-white;
      text-decoration: none;

      &:hover {
        font-weight: bold;
        text-shadow: none;
      }

      &.selected {
        font-weight: bold;
        cursor: default;
        text-shadow: none;
      }
    }

    span {
      color: #ffac91;
      font-family: $f-oxygen;
      position: relative;
      margin-top: -4px;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      pointer-events: none;

      &.location {
        margin-left: -87px;
        padding-right: 40px;
      }

      &.schedule {
        margin-left: -93px;
        padding-right: 46px;
      }

      &.registry {
        margin-left: -83px;
        padding-right: 36px;
      }
    }
  }
}