@import 'base';

#side-menu {
  font-family: $f-menu-nav;
  font-size: 17px;
  color: $color-white;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .4);
  position: fixed;
  width: 100%;

  .background-container {
    height: 51px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    overflow: hidden;

    .background {
      background: url(../resources/sky.jpg) no-repeat left bottom fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: 5;
      overflow: hidden;
    }
  }

  .side-menu-center {
    display:  flex;
    justify-content: flex-end;
    padding: 5px 15px 0 0;
    border-bottom: solid 2px rgba(255, 255, 255, .3);
    z-index: 10;
    position: fixed;
    width: 100%;

    div, a {
      cursor: pointer;
      margin: 12px 10px;
      color: $color-white;
      text-decoration: none;

      &:hover {
        font-weight: bold;
        text-shadow: none;
      }

      &.selected {
        font-weight: bold;
        cursor: default;
        text-shadow: none;
      }
    }
  }

  .updated {
    position: fixed;
    color: $color-light-plum;
    pointer-events: none;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    top: 50px;
    right: 0;

    .location {
      background: url(../resources/arrow-far.svg) no-repeat;
      width: 40px;
      height: 140px;
      margin: -33px 18px 0 0;

      /* Safari */
      -webkit-transform: rotate(-60deg);

      /* Firefox */
      -moz-transform: rotate(-60deg);

      /* IE */
      -ms-transform: rotate(-60deg);
    }

    .schedule {
      background: url(../resources/arrow-med.svg) no-repeat;
      width: 40px;
      height: 57px;
      margin: -2px -18px 0 0;

      /* Safari */
      -webkit-transform: rotate(-20deg);

      /* Firefox */
      -moz-transform: rotate(-20deg);

      /* IE */
      -ms-transform: rotate(-20deg);
    }

    .registry {
      margin-top: 19px;
      background: url(../resources/arrow.svg) no-repeat;
      font-size: 20px;
      padding: 46px 29px 0 23px;
      font-family: $f-montez;
      line-height: 0;

      /* Safari */
      -webkit-transform: rotate(20deg);

      /* Firefox */
      -moz-transform: rotate(20deg);

      /* IE */
      -ms-transform: rotate(20deg);
    }
  }
}