/*----- [ Reset CSS ] -----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----- [ End Reset CSS ] -----*/

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/WXRs6bFZChfzCx3pXob5o_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


#title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    position: relative;
    text-align: center;
    padding: 40px 0 30px 0;
}

#total {
    display:  block;
    margin: 0 auto;
    width: 400px;
    /* float: none; */
    padding-bottom: 20px;
}

#part {
    margin: 0 auto;
    width: 419px;
    position: relative;
    overflow: auto;
}

#numX {
    width: 350px;
    float: right;
    letter-spacing: 29px;
    padding: 0 0 12px 0;
}

#numY {
    float: left;
    position: relative;
    overflow: hidden;
    line-height: 38px;
    padding: 0 16px 0 10px;
    width: 8px;
    display: inline;
}

#sudoku {
    width: 363px;
    float: left;
    overflow: hidden;
    display: inline-block;
    /* padding-left: 16px; */
}

#solve {
    display: none;
}

#test {
    width: 200px;
}

#errorMsg {
    color: red;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top:  -30px;
    display: block;
    margin: 0 auto;
    width: 390px;
    height:  2px;
}

#msg {
    color: red;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    float: left;
    margin: 5px 0 -23px 0;
    padding: 0 0 -10px;
}

button {
    display: block;
    position: relative;
    margin: 8px auto;
    border: 2px solid #c5c5c5;
    padding: 4px;
    border-radius: 2px;
    background-color: #DFDFDF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 81px;
}

button:hover {
    border: 3px solid #8E8E8E;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#numY, #numX {
    font-size: 20px;
}

#sudoku div table{
    float: left;
    border: black solid 1px;
}

td {
    border: black solid 1px;
    border-spacing: 0;
    position: relative;
    table-layout: fixed;
    width: 37px;
    height: 37px;
    text-align: center;
}

table {
}

td input {
    width: 37px;
    height: 29px;
    border: 0;
    padding: 0;
    position: relative;
    text-align: center;
    font-size: 30px;
    z-index: 200;
}

input:focus {
    outline: none;
}

table, th{
    border: black solid 1px;
    border-collapse: collapse;
}

td table {
    border: black solid 2px;
}

.hnt {
    position: absolute;
    top: -2px;
    left: 0;
    width: 37px;
    z-index: 300;
}

ul.row {
    height: 11px;
}

ul.row li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    width: 12px;
}

.options {
    width: 120px;
    display: inline-block;
}

#options {
    margin: 0 auto;
    display: none;
    width: 368px;
}
