/*----- [ Reset CSS ] -----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----- [ End Reset CSS ] -----*/

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/WXRs6bFZChfzCx3pXob5o_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.welcome {
    position: relative;
    top: 50px;
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: #EABCFB;
    color: #5A5A5A;
    height: 140px;
    width: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: auto auto 70px auto;
    border: 5px solid #8E8E8E;
    border-radius: 15px;

}

button {
    display: block;
    margin: 12px auto 0px auto;
    border: 2px solid #c5c5c5;
    padding: 4px;
    border-radius: 2px;
    background-color: #DFDFDF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
button:hover {
    border: 3px solid #8E8E8E;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

#darwin {

}

#sudoku {

}

#sudoku_backbone {

}